<form [formGroup]="formSubject" class="form-horizontal" *ngIf="selectedSubject">
    <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Add New Subject</h4>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" [ngClass]="displayFieldCss(formSubject, 'name')">
                    <label class="control-label" > Name:
                        <span class="star">*</span>
                    </label>
                    <input
                            type="text"
                            id="name"
                            class="form-control"
                            formControlName="name"
                            [(ngModel)]="selectedSubject.name">
                    <app-field-error-display [displayError]="isFieldValid(formSubject, 'name')" errorMsg="required and min length 6 character.">
                    </app-field-error-display>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" [ngClass]="displayFieldCss(formSubject, 'slug', true)">
                    <label class="control-label" > Slug:
                        <span class="star">*</span>
                    </label>
                    <input
                            type="text"
                            id="slug"
                            class="form-control"
                            formControlName="slug"
                            [(ngModel)]="selectedSubject.slug">
                    <app-field-error-display [displayError]="isFieldValid(formSubject, 'slug')" errorMsg="required.">
                    </app-field-error-display>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" [ngClass]="displayFieldCss(formSubject, 'ordering')">
                    <label class="control-label">Ordering
                        <span class="star">*</span>
                    </label>
                    <input
                            type="number"
                            id="ordering"
                            class="form-control"
                            formControlName="ordering"
                            [(ngModel)]="selectedSubject.ordering">
                    <app-field-error-display [displayError]="isFieldValid(formSubject, 'ordering')" errorMsg="required, is number and elder 1.">
                    </app-field-error-display>
                </div>
            </div>
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Status *" formControlName="status" [(ngModel)]="selectedSubject.status">
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{status.viewValue|capitalize}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
                <app-field-error-display [displayError]="isFieldValid(formSubject, 'status')" errorMsg="required.">
                </app-field-error-display>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label [ngClass]="displayFieldCss(formSubject, 'content')">Content
                    <span class="star">*</span>
                </label>
                <ckeditor
                        [(ngModel)]="selectedSubject.content"
                        formControlName="content"
                        [config]="ckeConfig"
                        [readonly]="false"
                        debounce="1000">
                </ckeditor>
                <app-field-error-display [displayError]="isFieldValid(formSubject, 'content')" errorMsg="required, minlength: 5 and maxlength: 100">
                </app-field-error-display>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button *ngIf="!edittingSubject" (click)="onSubmitSubject()" type="button" #closemodal class="btn btn-primary btn-round" data-dismiss="modal">
            <i class="material-icons">person_add</i> Submit
        </button>
        <button *ngIf="edittingSubject" (click)="onSubmitSubject(selectedSubject._id)" type="button" #closemodal class="btn btn-primary btn-round" data-dismiss="modal">
            <i class="material-icons">person_add</i> Submit
        </button>
    </div>
</form>