div.dataTables_length select {
    width: 80px;
    display: inline-block;
}
.pagination > .disabled > a{
    background-color: #ddd !important;
    color: #ffffff;
}
.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}
.material-datatables{
    overflow-y: auto;
}

.fa-xs{
    font-size: 16px;
}
.is-hovering {
    cursor: pointer;
}
