<form   class="form-horizontal">
    <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Add New Exam</h4>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" >
                    <label class="control-label" >Name:
                        <span class="star">*</span>
                    </label>
                    <input
                            type="text"
                            class="form-control">

                </div>
            </div>
            <div class="col-sm-12 col-md-6" >
                <div class="form-group label-floating" >
                    <label class="control-label" > Slug:
                        <span class="star">*</span>
                    </label>
                    <input
                            type="text"
                            id="slug"
                            class="form-control">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" >
                    <label class="control-label">Ordering
                        <span class="star">*</span>
                    </label>
                    <input
                            type="number"
                            id="ordering"
                            class="form-control">

                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Price
                        <span class="star">*</span>
                    </label>
                    <input
                            type="number"
                            class="form-control">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12" >
                <label >Thumb
                    <span class="star">*</span>
                </label>
                <div  class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="fileinput-new thumbnail">
                        <img width="200px" height="200px" src="../../assets/img/placeholder.jpg" >
                    </div>
                    <div  [innerHTML]="'123456.png' | avatar : '': '/exams/': 'no-thumb.png'" class="fileinput-new thumbnail"></div>
                    <div class="fileinput-preview fileinput-exists thumbnail "></div>
                    <div>
                        <span class="btn btn-round btn-rose btn-file">
                            <span class="fileinput-new">Add Photo</span>
                            <span class="fileinput-exists">Change</span>
                            <input  type="file"
                                    name="thumb">
                        </span>
                        <a  #clearfileinputThumb class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>

                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-6" >
                <label >Exam PDF
                    <span class="star">*</span>
                </label>
                <div  class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <div class="thumbnail">
                        <img src="../../assets/img/pdf-view.png" >
                    </div>
                    <div>
                        <span class="btn btn-round btn-rose btn-file">
                            <span class="fileinput-new">Add File</span>
                            <span class="fileinput-exists">Change</span>
                            <input  type="file" id="file" >
                        </span>
                        <a  #clearfileinputPdf class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>

                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Status *"  >
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{status.viewValue|capitalize}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Special *">
                        <mat-option *ngFor="let special  of specials" [value]="special.value">
                            {{special.viewValue|capitalize}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

            </div>


        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Subject *"   >
                        <mat-option *ngFor="let subject of subjects" [value]="subject._id" >
                            {{subject.name|capitalize}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Level *"  >
                        <mat-option *ngFor="let level of levels" [value]="level.value" >
                            {{level.viewValue|capitalize}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6" >
                <mat-form-field>
                    <mat-select placeholder="Rates *"  >
                        <mat-option *ngFor="let rate of rates" [value]="rate.value" >
                            {{rate.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group label-floating" >
                    <label class="control-label">Time
                        <span class="star">*</span>
                    </label>
                    <input
                            type="number"
                            class="form-control">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label >Content
                    <span class="star">*</span>
                </label>
                <ckeditor
                        [config]="ckeConfig"
                        [readonly]="false"
                        debounce="1000">
                </ckeditor>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <legend>Exam Online</legend>
                <div class="togglebutton">
                    <label>
                        <input type="checkbox"   > {{1==1 ? 'Online Exam' : 'Offline Exam'}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div  class="form-group label-floating" >
                    <label class="control-label" > Time Exam Start:
                        <span class="star">*</span>
                    </label>
                    <input
                            type="text"
                            class="form-control"
                            name="time"
                            [value]="momentValue | date: 'short'"
                            dateTimePicker [(ngModel)]="momentValue">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <legend>Number Questions</legend>
                <nouislider [connect]="false" [min]="0" [max]="100" [step]="1" [(ngModel)]="simpleSlider" name="nouislider" [tooltips]="true" class="slider"></nouislider>

            </div>
        </div>
        <div class="row">
           <div class="col-md-12"> <legend>Answers</legend></div>

        </div>
    </div>
    <div class="modal-footer text-center">
        <button  (click)="onSubmitExam()" type="button" class="btn btn-primary btn-round" ><i class="material-icons">person_add</i> Submit</button>
    </div>
</form>






